<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.agh.mobile.sc" android:versionCode="12" android:versionName="1.1.2">

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="8"/>

    <permission android:name="edu.agh.mobile.sc.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="edu.agh.mobile.sc.permission.C2D_MESSAGE"/>

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--context data-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- To get cell/base station id this permission is needed -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:icon="@drawable/sc" android:label="@string/app_name">
        <activity android:name=".SocialComputerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="edu.agh.mobile.sc"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".dynamic.PowerUpdateReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".dynamic.NetworkChangeReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".dynamic.NetworkChangeReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".communication.RegistrationBackOff" android:enabled="true">
            <intent-filter>
                <action android:name="edu.agh.mobile.sc.REGISTRATION_BACK_OFF"/>
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService"/>
        <service android:name=".executor.ComputationService" android:exported="false"/>
    </application>

</manifest>

